<h3>donovan niewoehner (480)678-5786</h3>
<h2>3625 E Ray RdPhoenix, AZ 85044 donovan.niewoehner@gmail.com</h2>
<div class="divider1"></div>
<div class="post">
	<h4>Summary of Qualifications</h4>
	<div class="contentarea">
		A technical support technician with 5 years of software support and development work experience, specializing in the coordination, communication, and support of internal and external software and network infrastructure.
	</div>
	<div class="divider1"></div>
	<h4>Advanced Technical Support&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;August 2007 – August 2010
	<br />
	GoDaddy Software, Scottsdale AZ</h4>
	<div class="contentarea">
		<ul>
			<li>
				Provided top level technical support II and final resolution of over 30 daily customer accounts and internal tools as a member of a team of 15 staff without direct supervision.
			</li>
			<li>
				Managed issues for more that 60 internal contacts per day ranging from Support Representatives to Management staff via phone, instant message and walk-ups.
			</li>
			<li>
				Co-trained, monitored job performance, and provided feedback to new team leads, supervisors, and technical support representatives on technical and account management issues.
			</li>
			<li>
				Troubleshot major issues affecting internal tools and services as the final point of contact, working closely in coordination with developers, system administrators and network operations staff.
			</li>
			<li>
				Diagnosed and resolved Twitter and Facebook social media technical issues for the company’s social media team.
			</li>
			<li>
				Developed content for the rapidly changing QA procedural database hosted on the company’s internal network.
			</li>
			<li>
				Maintained the internal Customer Support knowledgebase and approved any customer facing technical documentation.
			</li>
		</ul>
	</div>
	<div class="divider2"></div>
	<h4>Sales Representative/Technical Support Representative&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;March 2006 – August 2007
	<br />
	GoDaddy Software, Scottsdale AZ</h4>
	<div class="contentarea">
		<ul>
			<li>
				Performed technical and sales support of company products and services such as hosting and domain names for multiple high value customers with large portfolios that required continual monitoring.
			</li>
			<li>
				Consistently exceeded sales expectations and earned top commission tier in sales, more than $750 per work day, double the expectation of $350 expected of incoming Sales and Support.
			</li>
		</ul>
	</div>
	<div class="divider2"></div>
	<h4>Teacher’s Aide / Student Mentor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;March 2004 – March 2006
	<br />
	Collins College, Phoenix, AZ </h4>
	<div class="contentarea">
		<ul>
			<li>
				Covered multiple, 1 hour class sessions in homerooms to assist students working on Game Design projects.
			</li>
			<li>
				Mentored students struggling with coursework in a peer to peer role to identify and communicate methods for improving a student’s academic performance.
			</li>
		</ul>
	</div>
	<div class="divider2"></div>
	<h4>Desktop Support Technician&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;December 2002 – March 2004
	<br />
	Radio Santa Fe Technology – Wells Fargo, Tempe, AZ</h4>
	<div class="contentarea">
		<ul>
			<li>
				Performed on-site and in-shop maintenance and repair of Desktop PCs, Networking Equipment, MICR Printers and Automatic Teller Machine controllers.
			</li>
			<li>
				Travelled to bank branch locations and secure enviroments to provide assistance and training.
			</li>
		</ul>
	</div>
</div>
